# ---------------------
# Python compiled files
# ---------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------
# Virtual environment
# ---------------------
venv/

# ---------------------
# Data files
# ---------------------
data/

# ---------------------
# IDE/editor
# ---------------------
.vscode/
.DS_Store

# ---------------------
# Logs and temporary files
# ---------------------
*.log
*.tmp

# ---------------------
# OS-specific files
# ---------------------
Thumbs.db